@media screen and (max-width:766px) [
    .av-hamburger av-hamburger--spin av-js-hamburger av-inserted-main-menu{
    
        position: relative !important;
        left: 41px !important;
    
    }
    
    #top #header_main > .container, #top #header_main > .container .main_menu .av-main-nav > li > a, #top #header_main #menu-item-shop .cart_dropdown_link{
        top: 9px !important;
        right: -10px !important;
        padding-top: 6px;
    }
  
    .responsive #top #header_main > .container .main_menu .av-main-nav > li > a, .responsive #top #wrap_all .av-logo-container{
        position: relative;
        left: -13px;
    }
    .responsive #top .logo{
        padding-right: 95px!important;
    }
]



@media only screen and (max-width: 767px)[
    .responsive .logo img {
        margin: 0;
        padding-right: 73px;
    }
]